<section class="personajes-page ion-padding">

  <h2>Personajes de Rick & Morty</h2>

  <div class="contenedor">

    <ion-card
      class="card-personaje"
      *ngFor="let p of personajes"
    >

      <a [routerLink]="['/personajes', p.id]">

        <img
          *ngIf="getPersonajeImage(p)"
          [src]="getPersonajeImage(p)"
          [alt]="getPersonajeName(p)"
        >

        <ion-card-header>

          <ion-card-title>
            {{ getPersonajeName(p) }}
          </ion-card-title>

        </ion-card-header>

        <ion-card-content>

          <p>
            Estado:
            {{ getPersonajeStatus(p) }}
          </p>

          <p>
            Especie:
            {{ getPersonajeSpecies(p) }}
          </p>

          <p>
            Género:
            {{ getPersonajeGender(p) }}
          </p>

          <p>
            Origen:
            {{ p.origin?.name || 'Desconocido' }}
          </p>

        </ion-card-content>

      </a>

      <ion-button
        expand="block"
        class="btn-favorito"
        (click)="agregarAMisPersonajes(p)"
      >

        Añadir a favoritos

      </ion-button>

    </ion-card>

  </div>

</section>