<section class="mis-personajes-page ion-padding">

  <h2>Mis personajes favoritos</h2>

  <div class="contenedor">

    <ion-card
      class="personaje-card"
      *ngFor="let p of misPersonajes"
    >

      <ion-img
        *ngIf="getPersonajeImage(p)"
        [src]="getPersonajeImage(p)"
        [alt]="getPersonajeName(p)">
      </ion-img>

      <ion-card-header>

        <ion-card-title>
          {{ getPersonajeName(p) }}
        </ion-card-title>

      </ion-card-header>

      <ion-card-content>

        <p>
          ID personaje:
          {{ p.personaje_id }}
        </p>

        <p>
          Estado:
          {{ getPersonajeStatus(p) }}
        </p>

        <p>
          Especie:
          {{ getPersonajeSpecies(p) }}
        </p>

        <p>
          Género:
          {{ getPersonajeGender(p) }}
        </p>

      </ion-card-content>

    </ion-card>

  </div>

</section>