<section class="personajes-page ion-padding">
  <h2>Mis personajes favoritos</h2>

  <div class="contenedor">
    <ion-card class="card-personaje" *ngFor="let p of misPersonajes">
      <a [routerLink]="['/personajes', p.personaje_id]">
        <img
          *ngIf="getPersonajeImage(p)"
          [src]="getPersonajeImage(p)"
          [alt]="getPersonajeName(p)"
        />

        <ion-card-header>
          <ion-card-title>
            {{ getPersonajeName(p) }}
          </ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <p>
            Estado:
            {{ getPersonajeStatus(p) }}
          </p>

          <p>
            Especie:
            {{ getPersonajeSpecies(p) }}
          </p>

          <p>
            Género:
            {{ getPersonajeGender(p) }}
          </p>

          <p>
            ID personaje:
            {{ p.personaje_id }}
          </p>
        </ion-card-content>
      </a>

      <ion-button
        expand="block"
        class="btn-danger"
        (click)="eliminarPersonaje(p); $event.stopPropagation()"
      >
        Eliminar de favoritos
      </ion-button>
    </ion-card>
  </div>
</section>
